# 标志转换

In [4]:
#将分类数据和顺序数据转换为标志变量
import pandas as pd #导入pandas库
from sklearn.preprocessing import OneHotEncoder #导入OneHotEnchoder库
%load_ext autoreload
%autoreload 2

In [6]:
df = pd.DataFrame({'id': [3566841, 3566845, 3566847], 
                   'sex': ['male', 'Female', 'Female'], 
                   'level': ['low', 'high', 'middle']})

In [8]:
# 自主定义转换过程
df_new = df.copy()
for col_num, col_name in enumerate(df):
    col_data = df[col_name]
    col_dtype = col_data.dtype # 获取每列dtype类型
    # 如果列类型为非数值类型
    if col_dtype == 'object':
        # 删除需要标签转换的列
        df_new = df_new.drop(col_name, 1)
        value_sets = col_data.unique()
        for value_unique in value_sets:
            col_name_new = col_name + '_' + value_unique
            col_tmp = df.iloc[:, col_num]
            new_col = (col_tmp == value_unique)
            df_new[col_name_new] = new_col
print(df_new)

        id  sex_male  sex_Female  level_low  level_high  level_middle
0  3566841      True       False       True       False         False
1  3566845     False        True      False        True         False
2  3566847     False        True      False       False          True

In [11]:
# 使用sklearn进行标志转换
df2 = pd.DataFrame({'id': [11, 12, 13], 
                   'sex': [1, 2, 2], 
                   'level': [2, 3, 1]})

In [29]:
id_data = df2.values[:, :1]
transform_data = df2.values[:, 1:]
encoder = OneHotEncoder()
df2_new = encoder.fit_transform(transform_data)
# df2_new的类型为稀疏矩阵类型
type(df2_new)

scipy.sparse.csr.csr_matrix

In [30]:
# 将df2_new转换成numpy.ndarray类型
df2_new = df2_new.toarray()
type(df2_new)

numpy.ndarray

In [17]:
df2_all = pd.concat((pd.DataFrame(id_data), pd.DataFrame(df2_new)), axis=1)

In [19]:
df2_all

    0    0    1    2    3    4
0  11  1.0  0.0  0.0  1.0  0.0
1  12  0.0  1.0  0.0  0.0  1.0
2  13  0.0  1.0  1.0  0.0  0.0